@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


:root{
    --roxo: #660099;
    --vermelho: #cb2166;
    --azul:#0072B8;
    --cinza : #6f6f6f;
    
}

*{
    margin: 0;
    font-family: "Roboto", sans-serif;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    
    text-decoration: none;
}

a{
    color: black;
}
li{
    display: block;
}
.cinza{
    color: var(--cinza);
}
.largurapadrao{
    width: 80%;
    margin: auto;

}

.bold{
    font-weight: 500;
}

/*************Header**********/

#conteudoheaderB #roxo{
    color: var(--roxo);
}

header{
    width: 100%;
    background-color:#fff;
    padding: 15px 0;
}
#conteudoheaderA{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
nav{
    display: flex;
    align-items:center;
    gap: 30px;
    
}
#logo{
    width: 120px;
}
header a{
    color: var(--roxo);
    display: flex;
    gap: 5px;
    align-items: center;
    font-size: 1rem;
}


#conteudoheaderB a{
    color: #000;
    
    
}
#conteudoheaderB a:hover{
    color: #a6c;
    border-bottom: 2px solid #a6c;
    
    
}
#conteudoheaderB{
    margin-bottom: 10px;
    padding-left: 10px;
}
.CaixaHover{
    display: flex ;
    flex-wrap: wrap;
    gap: 30px; 

}
.CaixaHover ul{
    border-left: thin solid var(--cinza);
    padding: 0 10px 20px 15px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 20px;
    width: calc(20% - 30px);
    

    
}
.CaixaHover h1{
    color: #000;
    font-size: 1.1rem;
    font-weight: 500;
    
}

.CaixaHover li{
    color: var(--cinza);

}
.container{
    position: absolute;
    top: 100%;
    width: 100%;
    background-color: white;
}
#CaixaHoverProdutos{
    width: 100%;
    display: none;
    position: relative;
    
}
#CaixaHoverAjuda{
    width: 100%;
    display: none;
    position: relative;
    
}
#CaixaHoverPqvivo{
    width: 100%;
    display: none;
    position: relative;
    
    
}










/*************Banner**********/

#banner{
    background-image: url(../images/vivo-fibra-carnaval-2602-desk-1920x703.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 37.5rem;
}



/***********Ofertas************/

main  article > h1 {
    font-weight: 300;
    font-size: 2.7rem;
    margin-bottom: 1.25rem;
    margin-top: 3.125rem
}
main > article{
    margin-bottom: 50px;
}
.ofertas{
    display: flex;
    min-width: 100%;
    gap: 10px
    ;
    
}
.caixaoferta{
    display: flex;
    width: calc(25% - 10px);
    background-color: white;
    border: var(--cinza) 1px solid;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 0px #9e9e9ea1 ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px 30px 20px 30px;
    min-height: 43rem;
    margin: 20px 0 ;
}
.areapreco{
    display: flex;
    flex-direction: column;
    
}
.areainformacoes{
    position: relative;
}

.caixaoferta > section > div{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 30px;
}
.caixaoferta p , h1, h2{
    font-weight: 300;

}
.produto{
    font-size: 1.1rem;
    font-weight: 400;
    margin-bottom: 20px;
}
.megas{
    display: inline;
    font-size: 2.1rem;
    font-weight: 300;
    
}
.preco{
    display: inline;
    font-size: 1.6rem;
}
.observacao{
    display: inline;
}
.comprar{
    border: none;
    padding: 15px;
    font-size: 0.9rem;
    background-color: var(--vermelho);
    color: rgb(233, 233, 233);
    border-radius: 3px;
    margin: 30px 0;
    cursor: pointer;
}
.detalhes{
    border: none;
    background-color: transparent;
    font-size: 0.9rem;
    cursor: pointer;
}
.imagemmega{
    width: 40px;
}
.destaque{
    background-color: var(--roxo);
    padding: 20px 6px;
    border-radius: 5px;

    margin: -50px;
}
.destaque p{
    color: white;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.7rem;
}

#btnEsquerdaOfertas{
    transform: rotate(180deg);
    display: flex;
    align-items: start;
    opacity: 0.3;
}

.diferencial{
     background-color: var(--roxo);
     text-transform: uppercase;
     padding: 0px 20px ;
     height: 30px;
     justify-content: center;
     color: white;
     border-radius:5px 5px 5px 0 ;
     position: absolute;
     top: -58px;
     left: -31px;
    font-size: 0.8rem;
}

#CarroselOfertas{
    width: 100%;
    height: 45rem;
    overflow: hidden;
}

#FaixaOfertas{
    display: flex; 
    transition: transform 0.5s ease;
}

#caixaBotoes{
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.BotoesCarrosel{
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.BotoesCarrosel img{
    width: 20px;
}

.RadiosCarrosel{
    width: 0.6rem;
    height: 0.6rem;
    content: "";
    display: inline-block;
    background-color: #609;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

#RadioDireitaOferta{
    background-color: #a89cc8;
}
#RadioEsquerdaOferta{
    background-color: #609;

}
    
/******************Produtos*******************/
#CarroselProdutos{
    width: 100%;
    height: 37.5rem;
    overflow: hidden;
}

.CaixasProdutos{
    display: flex;
    min-width: 100%;
}
.CaixasProdutos a{
    width: 25%;
}
.CardProduto {
    height: 37.5rem;
    border:  #bdbdbd solid 1px ;
    border-radius: 7px;
    padding: 20px 30px;
}
.ImagemProduto{
    width: 100%;
    padding: 0 25px;
    margin-bottom: 10px;

}
.ImagemProduto img{
    width: 100%;
}
.CardProduto h1{
    font-weight: normal;
    font-size: 0.9rem;
    min-height: 3.25rem;
    margin: 10px 0;
}


.precoProduto{
    font-weight: normal;
    font-size: 1.5rem;
    font-weight: 300;
}
.parcelas{
    font-size: 0.9rem;
    color: var(--cinza);
}
.btnCompraragora{
    margin-top: 3.125rem;
    border: none;
    background-color: var(--roxo);
    font-size: 0.9rem;
    padding: 15px 20px;
    color: white;
    border-radius: 5px;
}
.Frete{
    background-color: var(--roxo);
    font-weight: 600;
    color: white;
    padding: 4px 8px;
    font-size: 0.7rem;
    border-radius: 6px;
}
.maisDireita{
    transform: translateX(-200%);
}
.Direita{
    transform: translateX(-100%);
}
.Esquerda{
    transform: translateX(0%);
}

.IrParaDireita{
    transform: translateX(-100%);
}
#btnesquerda{
    border-radius: 50%;
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 220px;
    left: -1px;
    z-index: 10;
}
#btnesquerda img{
    transform: rotate(180deg);
    width: 20px;
}
#btndireita img{
    width: 20px;
}
#btndireita{
    border-radius: 50%;
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 220px;
    right: 0px;
    z-index: 10;
}
#Faixa{
    display: flex; 
    transition: transform 0.5s ease;
}
#AreaProdutos{
    position: relative;
}

/***************BannerAnuncios***************/

#AreaBannerAnuncios{
    margin-top: 100px;
    margin-bottom: 100px;
}
.banner > img{
    width: 100%;
    height: 350px;
    display: block;
    object-fit: cover;
}

.banner {
    display: flex;
    min-width: 100%;
   position: relative;
}
#BannerAnuncios{
    width: 100%;
    height: 350px;
    overflow: hidden;
    position: relative;
}
#FaixaBanner{
    display: flex; 
    transition: transform 0.5s ease;
}
.textobanner{
    position: absolute;
    color: white;
    z-index: 1;
    top: 40px; 
    left: 40px;
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px
    ;
}

.banner h1{
   font-size: 2.3rem;
   font-weight: 400;
}
.banner h2{
   font-size: 1rem;
   font-weight: 600;
}
.banner p{
    font-size: 1rem;
    width: 75%;
}
.banner a{
    display: flex;
    align-items: center;
   color: white;
   font-size: 1.2rem;
   font-weight: 500;
   margin-top: 70px;
}
a img{
    width: 1.2rem;
}
#RadiosAnuncio{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

#RadioAnuncio1:hover{
   background-color: rgba(255, 255, 255, 0.9);
}
#RadioAnuncio2:hover{
    background-color: rgba(255, 255, 255, 0.9);
}
#RadioAnuncio3:hover{
    background-color: rgba(255, 255, 255, 0.9);
}
#RadioAnuncio1{
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px solid white;
}
#RadioAnuncio2{
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px solid white;
}
#RadioAnuncio3{
    border: 2px solid white;
    background-color: rgba(255, 255, 255, 0.5);
}




/***********Apps************/


main > article{
    margin-bottom: 50px;
}
.apps{
    display: flex;
    min-width: 100%;
    gap: 10px
    ;
    
}
.caixaApps{
    display: flex;
    width: calc(25% - 10px);
    background-color: white;
    border: rgb(212, 212, 212) 1px solid;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 25px;
    min-height: 43rem;
    margin: 20px 0 ;
}
.areapreco{
    display: flex;
    flex-direction: column;
    
}


.caixaApps h1{
    font-weight: 300;

} 
.caixaApps h2{
    font-weight: 400;
    color: var(--cinza);
    font-size: 1.2rem;
    margin-top: 10px;
} 
.caixaApps p{
    font-weight: 400;
    color: var(--cinza);
    font-size: 1.1rem;
} 

.caixaApps .preco{
    display: inline;
    font-size: 1.6rem;
    font-weight: 300;
    color: black;
    
}
.infoApps{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
     height: 100%;
}
.imgApps{
    padding: 0 20px;
    margin-bottom: 20px;
}
.imgApps img{
    width: 100%;
}
.btnAssinar{
   
    border: none;
    background-color: var(--roxo);
    font-size: 1.1rem;
    padding: 15px 20px;
    color: white;
    border-radius: 5px;
    margin-top: 40px;
}



#btnEsquerdaApps{
    transform: rotate(180deg);
    display: flex;
    align-items: start;
    opacity: 0.3;
}



#CarroselApps{
    width: 100%;
    height: 45rem;
    overflow: hidden;
}

#FaixaApps{
    display: flex; 
    transition: transform 0.5s ease;
}

.caixaBotoes{
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.BotoesCarrosel{
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.BotoesCarrosel img{
    width: 20px;
}

.RadiosCarrosel{
    width: 0.6rem;
    height: 0.6rem;
    content: "";
    display: inline-block;
    background-color: #609;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    margin: 0 10px;
    
}

#RadioApps2{
    background-color: #a89cc8;
}
#RadioApps3{
    background-color: #a89cc8;
}
#RadioApps1{
    background-color: #609;

}


/***************Eletronicos***************/


#CarroselEletronicos{
    width: 100%;
    height: 37.5rem;
    overflow: hidden;
}

#btnesquerdaEletronicos{
    border-radius: 50%;
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 220px;
    left: -1px;
    z-index: 10;
}
#btnesquerdaEletronicos img{
    transform: rotate(180deg);
    width: 20px;
}
#btndireitaEletronicos img{
    width: 20px;
}
#btndireitaEletronicos{
    border-radius: 50%;
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 220px;
    right: 0px;
    z-index: 10;
}
#FaixaEletronicos{
    display: flex; 
    transition: transform 0.5s ease;
}
#AreaEletronicos{
    position: relative;
}


/***************AutoAtendimento***************/

#Autoatendimento{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 80px;
    margin-bottom: 100px;
}
#RecargaAutoatendimento{
    display: flex;
    flex-direction: column;
     align-items: flex-start;
    gap: 10px;
    width: calc(30% - 80px);
}
#RecargaAutoatendimento h1{
    font-size: 1.2rem;
}
#RecargaAutoatendimento h2{
    font-size: 1rem;
    color: var(--cinza);
    font-weight: 400;
}
#imgRecarga{
    display: block;
    max-width: 3.5rem;
    margin-top: 10px;
}
#imgRecarga img{
    width: 100%;
}
#inputRecarga{
    min-height: 6.25rem;
    width: 100%;
    border: rgb(180, 180, 180) 2px solid;
    border-radius: 5px;
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 20px;

}
#inputRecarga input{
    border: none;
    background-color: transparent;
    outline: none;
    width: 100%;
    z-index: 3;
    font-size: 1.2rem;
    font-weight: 300;
    margin: 0px 20px;
    min-height: 3.125rem;
}

#inputRecarga:focus-within {
    border: 2px solid var(--roxo);
    align-items: end;
    padding-bottom: 10px;
}

#inputRecarga input:not(:placeholder-shown) + label {
    position: absolute;
    top: 20px;
    font-size: 1rem;
    color: #666;
    font-weight: 400;
    margin-bottom: 10px;
}
 #inputRecarga input:focus + label  {
    position: absolute;
    top: 20px;
    font-size: 1rem;
    color: #666;
    font-weight: 400;
    margin-bottom: 10px;
}

#inputRecarga label{
    position: absolute;
    color: black;
    font-size: 1.2rem;
    font-weight: 300;
    margin-left: 20px;
    z-index: 1;
}
.btnRecarga{
    margin-top: 50px;
    border: none;
    background-color: var(--roxo);
    font-size: 1.2rem;
    padding: 15px 30px;
    color: white;
    border-radius: 3px;
    
}

#AreaCaixasAuto{
    width: calc(70% - 80px);
    display: flex;              
    flex-direction: column;  
    
}
.CaixaAuto{
    flex: 1; 
    background-color: white;
    border: 1px #ddd solid;
    border-radius: 5px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: opacity 0.3s ease;
}
.CaixaAuto img{
    width: 3.4rem;

}
.CaixaAuto h1{
    font-size: 1.2rem;
    font-weight: 300;
    
}
.Faixas{
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
}

.Faixa{
    display: flex;
    gap: 20px;
    flex: 1;
}

.CaixaAuto:hover{
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1);
    transform: translateY(-.75rem);
    transition: opacity 0.5s, box-shadow 0.5s, transform 0.5s;
}

/***************Box***************/
.Box{
    display: flex;
    padding: 20px 50px;
    gap: 40px;
    border: rgb(185, 185, 185) 1px solid;
    width: 100%;
    align-items: center;
    margin: 20px 2px;
}
.BoxImgh1{
    display: flex;
    gap: 40px;
    align-items: center;
}
.BoxImgh1 img{
    width: 150px;
    height: 100%;
}

.BoxImgh1 h1{
    font-size: 1.2rem;
    color: black;
}

.BoxImgh1 h2{
    font-size: 1rem;
    color: var(--cinza);
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 10px;
}

.Box a{
    color: var(--roxo);
    font-size: 1.2rem;
    font-weight: 500    ;
}

/***************AreaConexoes***************/
#AreaConexoes{
    width: 100%;
    background-color: #F0EDFE; 
    padding: 20px;
}
#AreaConexoes h1{
    margin-top: 0   ;
}
#Conexoes{
    width: 85%;
    margin-bottom: 10px ;
}
/***************PorDentro***************/
#PorDentro{
    display: flex;
    width: 100%;
    margin: 40px 0 100px 0;
    gap: 10px;
}
.CaixaPorDentro{
    width: calc(33% - 10px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
 
}
.CaixaPorDentro img{
    width: 120px;
    margin-bottom: 15px;

}

.CaixaPorDentro h1{
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.6;
    min-height: 2.4rem;
    min-height: calc(2 * 1.6em);
}

.CaixaPorDentro a{
    color: var(--roxo);
    font-size: 1.1rem;

}

/***************Acesse Tambem***************/
#AcesseTambem{
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 18px;
    margin-bottom: 50px;
}
.CaixaAcesseTambem{
    width: calc(25% - 20px);
    display: flex;
    padding: 28px 25px 16px 25px;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
;
    align-items: start;
    border: #9c9c9c solid 1px;
}

.TitulosAcesseTambem h1{
    font-weight: 500;
    color: #666;
    font-size: 1.1rem ;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.TitulosAcesseTambem h2{
    font-weight: 300;
    color: #666;
    font-size: 1.7rem ;
    
}

.ImgAcesseTambem{
    display: flex;
    justify-content: space-between;
    align-items: end;

}
.ImgAcesseTambem img{
    width: 48% ;
    height: auto;
    display: block;
}
.CaixaAcesseTambem a{
    color: var(--roxo);
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 20px;

}

/***************Termos***************/
#AreaTermos p{
    font-size: 14px;
    line-height: 1.4;
    margin-bottom: 14px;
    color: #666;

}

#AreaTermos a{
    font-size: 14px;
    color: #666;
        border-bottom: solid 1px #666
}

#AreaTermos a:hover{
    font-size: 14px;
    color: var(--roxo);
        border-bottom: solid 1px var(--roxo)
}

#AreaTermos strong{
    font-size: 14px;
}
/***************Footer***************/

#FooterLogos{
    display: flex;
    justify-content: space-between;
    padding: 1.75rem 0;
}


#FooterLogos img{
    height: 2.5rem;
}

/***************ItensEstáticos***************/
#suporte{
    background-color: #8533ad;
    border-radius: 50%;
    z-index: 99;
    position: fixed;
    bottom: 32px;
    right: 32px;
    width: 61px;
    height: 60px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
#suporte > img{
    width: 30px;
}
#whatsapp{
    background-color: #25D366;
    border-radius: 50%;
    z-index: 99;
    position: fixed;
    bottom: 104px;
    right: 15px;
    width: 61px;
    height: 60px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
#whatsapp > img {
    width: 60px;
}

